/*Fuente botones*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.botonConductor{
    -fx-background-color: #6597b2;
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 20px;
}
.botonConductor:hover{
    -fx-font-size: 21px;
}

.botonPasajero{
    -fx-background-color: #a6a6a6;
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 20px;
}

.botonPasajero:hover{
    -fx-font-size: 21px;
}

.botonSalir{
    -fx-background-color: #1b2638;
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 20px;
    -fx-text-fill: #fdfefe;
}

.botonSalir:hover{
    -fx-font-size: 21px;
}